files:
  /etc/pki/tls/certs/server.crt:
    content: |
      -----BEGIN CERTIFICATE-----
      MIID6zCCAtOgAwIBAgIJAJY/k6u+qYKuMA0GCSqGSIb3DQEBBQUAMFYxCzAJBgNV
      BAYTAkhLMQswCQYDVQQIEwJISzEVMBMGA1UEBxMMQ2F1c2V3YXkgQmF5MRAwDgYD
      VQQKEwdNeSBCYW5rMREwDwYDVQQDEwhiYW5rLWFwaTAgFw0xNzA5MDQwOTIyNDRa
      GA8yMTE3MDgxMTA5MjI0NFowVjELMAkGA1UEBhMCSEsxCzAJBgNVBAgTAkhLMRUw
      EwYDVQQHEwxDYXVzZXdheSBCYXkxEDAOBgNVBAoTB015IEJhbmsxETAPBgNVBAMT
      CGJhbmstYXBpMIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAooM6AlYn
      j2uynyR4nXKslNOK9090sc2/7xWz1GnucSle3ZgiqrdEn7dzf0a1ElcMypzUs+zd
      uxNvx9uck8E9Bxzzwy0UHgCzomjLuqI3gq4WtaFdYfUAxf71aHmwQilj9+2KlmPB
      9mnAj+sNuZy1LQcMef4DRcKJDeW87ORiOVTFZtAFmYNxt3wu0m1+zGJxNlpdXEHW
      Uroo3wHKiG5iyiw9qzBARLGEre2gndnfGrFv2dV7Dhoq/kz5vXKN2XdziQW+LshP
      hQtxDN237r9iLdkp73/Q+HHs8DWsrrkCMU7OQXCsCdbwnWigDIKFjGQjDQ8CHZJ+
      SRzyX8BglkBuqwIDAQABo4G5MIG2MB0GA1UdDgQWBBQXU8OXeXLBeF4dgN/mzl7n
      7qu7bzCBhgYDVR0jBH8wfYAUF1PDl3lywXheHYDf5s5e5+6ru2+hWqRYMFYxCzAJ
      BgNVBAYTAkhLMQswCQYDVQQIEwJISzEVMBMGA1UEBxMMQ2F1c2V3YXkgQmF5MRAw
      DgYDVQQKEwdNeSBCYW5rMREwDwYDVQQDEwhiYW5rLWFwaYIJAJY/k6u+qYKuMAwG
      A1UdEwQFMAMBAf8wDQYJKoZIhvcNAQEFBQADggEBAEeLgeN/lGx7Z7Jo0oNS37Qv
      WphkyohdDQ+HgD/y8lqzTg1+DcnlYh5BcAio9Qk9XDbN0Rbt8A+AluWxdKnZQuVQ
      HTfK7uEpsQzP550t/PR4ENMvYAkOUhPIM2FQTgpv/qRPsRzT3evf9sUZMuTZZ+cc
      c0YsmKRWcxslV46kooEUH97Me9WBseuxvUo2Gb0LmmjNoJNawZiPiEOVIv4yz2t6
      Fv6Jdo3h7Gw+ZF67k1LLhTe1ejt7fBPbjBu+zigZy5fyDjfsZCC5DyJqsrC/BDej
      h5+J08DXctMBUPJNv4+SR/TQfab4jGJZvpUUmm1B5QoQ3tDVsqJyd/3L+a4vOvY=
      -----END CERTIFICATE-----
  /etc/pki/tls/certs/server.key:
    content: |
      -----BEGIN RSA PRIVATE KEY-----
      MIIEowIBAAKCAQEAooM6AlYnj2uynyR4nXKslNOK9090sc2/7xWz1GnucSle3Zgi
      qrdEn7dzf0a1ElcMypzUs+zduxNvx9uck8E9Bxzzwy0UHgCzomjLuqI3gq4WtaFd
      YfUAxf71aHmwQilj9+2KlmPB9mnAj+sNuZy1LQcMef4DRcKJDeW87ORiOVTFZtAF
      mYNxt3wu0m1+zGJxNlpdXEHWUroo3wHKiG5iyiw9qzBARLGEre2gndnfGrFv2dV7
      Dhoq/kz5vXKN2XdziQW+LshPhQtxDN237r9iLdkp73/Q+HHs8DWsrrkCMU7OQXCs
      CdbwnWigDIKFjGQjDQ8CHZJ+SRzyX8BglkBuqwIDAQABAoIBAQCECXiVM2ia91a+
      RESXL/eWR7XNr8nROKjr2McuGw828/T2t8faymJAHi4Bx/IQP5fN+tQ6h4WznFwi
      loTF66fo4pYPCs4gflN07g4wyeGuFEGxOrUDhKsnMzoys0QIzVZCtsX14IFT8qIY
      jFKvbuoo9mQlrcL858yw9Oql0f0YNELnIc02eD1ivD7b3eaVYlIBwFxo3udjfNxf
      qEOm/qtpI4UOHm7N8vpHyruzix4jQXICrV2eXco9FvKbHSSVKZSh9fAMY80xrBVM
      JVdCCUEXgWcts8zUb0a+7hp84UGEaTjNuAP9D6YPqwH8zZdsSt4KhzGVnnGLWv81
      iow6CNPBAoGBANeTauVXJgn2Wejg1L1S7Nu8pmC/7tH7T9iwAaCl50pnCYtEWIug
      M6vEECEOH7YJVJl0Y6G1hLQynoeZ7Z4476JUefMQ4qe1U3s2qBbXbwb+IwouPPqK
      sR9WUL9XbqAfmL9ZdqV/WkPbpOjKhfi4465Y/mZ54Hh4NWUSB327NCuhAoGBAMD8
      ipxSoJ5oz9dHFIohdUd0UQvvzhv/qZWU2bbbgILu9eqQLDoQ+Huun6iA0HcbH9vt
      75Sp0G24F/fxoBUN34bNXkmn8s/Fe0Me6h3E/N5R3ktp9OfcUTQ6IjDQQDP+NQ4F
      lXemA2hUvPP0+QF0NJA8U2+DtsHyDm4GwXWk4hbLAoGAJfdKfjWI93wxfXgLP4SZ
      PmHNE4D5+HVALLNitf5B67KV1bcluQFv2DJhfNDV+ONPyO7clSA4zNuVW+BaHuF8
      IqSqDYrNwCeJGkwX8l3iqeKcHTDjgGRoqVI0Sl6FlyG5bwm8gY0aQpUuR+lTCujV
      AGGf/EA+rjjNfo1cUGJl38ECgYAYNtexe5CZr678ZPfHySDtAUQ2CjXDP5Xopc+X
      aP078H28m7Bg7MYwxp1TyC3f8/BQaQ9ZiOEVEzc2rgOXALGeOWBuP3tw5Gdt6ZAY
      giH0RzNsJPRMr1ElC3JEy6xymZ/QjZTOeW8OBSvcNE2WCB2cR2V0pYMl3JhA5+oY
      N8MCdwKBgFobJn4SCcRQ9IJe5ZMS3ZdepOYteQd3shGZuqkVxueLpqOOS5eicqRh
      +GGWrT21JMw/iUU6LhO8H8appXZ5kwOpkUz8I/XlCIweY1yjII/oLDQS4LHiC00j
      pE8zVWvG+2PRvob0h4qWMNcw5ftmQhY4uhvh1hmAGbQxapvUut3N
      -----END RSA PRIVATE KEY-----

container_commands:
  01restart_nginx:
    command: "service nginx restart"
